@charset "UTF-8";

/*insert*/
.gInsert{
	margin : 100px auto;
	border : 3px solid #ddd;
	border-radius : 3px; 
	padding : 20px;
	background-color : #FAD0C9;
	font-weight : bold;
	float : left;
}
.gInsert .btnSave{
	width : 200px;
	text-align : center;
	background-color : #fff;
	color : #815854;
}
.gInsert span{
	margin : 8px;
	float : left;
}

#guestbook_list{ /*container*/
	display : flex;
	flex-direction: column;
}
.guestbook_items{
	flex-basis :auto;
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content: space-around;
	align-content: center;
	min-width : 200px;
}
.guestbook_btn{
	flex-basis : 1; /*1배수*/
	
}
.item{
	background-color : #F9EBDE;
	padding : 20px;
	min-width : 200px;
	margin-bottom : 10px;
	border-radius : 7px;
}
#guestbook_list .find{
	margin-left : 800px;
}
.btnSearch{
	background-color : #000;
	color : #fff;
}

.updateZone{
	visibility: hidden;
}

/*암호를 입력하는 modal box-----------------------*/
#modal{
	background-color : rgba(0,0,0,.3);
	position : fixed;
	left:0;
	top:0;
	width : 100%;
	z-index : 100;
	height : 100%;
	display : none;
}

#modal>#content{
	width : 300px;
	margin : 250px auto;
	padding : 20px;
	position : relative;
	background-color: #fff;
}
#modal>#content #btnClose{
	position : absolute;
	right : 2px;
	top : 2px;
	font-size : 2em;
	background-color : transparent;
}